:root {
    --interactive-elements-color: #2196F3;
    --main-title-color: #212121;
    --second-title-color: #757575;
    --third-title-color: #FFFFFF
}

body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-title-color);
    letter-spacing: 0.03em;
    background-color: var(--third-title-color);
}

.list {
    list-style: none;
}

/*---------------------------------------HEADER-------------------*/

.header-logo,
.work,
.footer-logo {
    font-family: 'Raleway', 'cursive';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--interactive-elements-color);
}

.studia-title,
.portfolio-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--interactive-elements-color);
}


.word {
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--interactive-elements-color);
}

.link {
    text-decoration: none;
}

.header-mail,
.header-tell {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--interactive-elements-color);
}


.header-tell:hover,
.header-tell:focus {
    color: var(--interactive-elements-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-title-color);
}

/*-------------------------MAIN----------------------*/
.main-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-title-color)
}

.main-button:hover,
.main-button:focus {
    color: var(--interactive-elements-color);
}

.main-button {
    cursor: pointer;
}

.hero-general {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    background-color: #2F303A;
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-title-color);
    background: var(--interactive-elements-color);
}

.hero-button {
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
color: var(--interactive-elements-color);
}


.iformation-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.information-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-title-color);
}

.our-work,
.team-ourtim {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-title-color);
}

.team {
    background-color: #F5F4FA;
}

.team-ourtim {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-title-color);
}

.team-iformation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-title-color);
    background-color: var(--third-title-color);
    ;
}

.team-profesion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-title-color);
    background-color: var(--third-title-color);

}

.servis-posters {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.servis-view {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-title-color);
}

/*-----------------------------FOOTER-----------------------*/
.footer {
    background-color: #2F303A
}

.footer-word {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--third-title-color);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--third-title-color);
}

.footer-tell,
.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail .footer-tell:hover,
.footer-tell:focus {
    color: var(--interactive-elements-color);
}