.team {
    background-color: #F5F4FA;
    padding: 94px 0px;

    &-ourtim {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--main-title-color);
    }

    &-list {
        display: flex;
        gap: 30px;

    }

    &-background {
        background-color: var(--third-title-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &-iformation {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--main-title-color);
    }

    &-profesion {
        margin-bottom: 16px;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        color: var(--second-title-color);
    }

    &-icon {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    &-icon-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--third-title-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-icon-co {
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-icon-link:hover,
    &-icon-link:focus {
        background-color: var(--interactive-elements-color);
    }

    &-icon-link:hover .team-icon-co,
    &-icon-link:focus .team-icon-co {
        fill: var(--third-title-color);
    }

    &-img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    &-list-information {
        padding: 30px 5px;
        text-align: center;
        line-height: 1.8;
    }
}

